body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}

.card{
    background-color: blue;
    height: 18em;
    width: 12em;
    border-radius: 10px;
    border: 1px solid black;
}
.wrapper{
    width: 48em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 1em;
    border: 1px solid black;
    background-color: aqua;
    padding: 2em;

}

/*
Ja h채r kanske man inte ska s채tta line-height s책d채r men vafan?????
*/
.bottom{
    text-align: center;
    line-height: 10em;
    position: absolute;
    bottom: 0%;
    height: 10em;
    width: 10em;
    background-color: grey;
}
.left{
    left: 0%;
}
.right{
    right: 0%;
}