/*sätter sidan till en flexbox och centrerar innehållet*/
/*sätter även bakgrunden till den gråa bilden och sätter typsnittet till Arial som default*/
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("images/greyzz.png");
}

/*gör wrappern till en flexbox, sätter bakgrunden till vit*/
/*sätter bakgrunden till en rimlig bredd, använder flex-wrap för att hantera hur innehållet placeras och centrerar innehållet*/
#wrapper {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60em;
    align-items: center;
}

/*bredden ärvs från wrappern och höjden sätts till ett rimligt värde*/
/*sätter bakgrunden till den valda bilden och justerar hur mycket av bilden som visas genom background-position och size*/
/*placerar texten på headern via flex-box till vänster och botten, med en manuell padding från vänster*/
#header {
    width: inherit;
    height: 20em;
    background-image: url("images/header.jpeg");
    background-position: center 70%;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-left: 2.5em;
    padding-bottom: 2.5em;
}

/*ändrar storleken på header texten till vit, gör texten i fetstil och förstorar teckenstorleken*/
#header h1 {
    color: white;
    font-weight: bolder;
    font-size: 4rem;
    width: 80%;
}

/*sorterar alla poster som en column och centrerar innehållet i dem*/
/*justerar post-div till 100% av rutans bredd och centrerar den, och lägger till en marginal från toppen och botten och mellanrum mellan poster*/
#posts {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.post-image img{
    width: 40em;
}

/*skapar en border, rundar hörnen och lägger till en skugga runt posterna*/
/*justerar innehållet till en column och lägger till padding på alla sidor och mellanrum mellan innehållet för att matcha mallen*/
.image-post {
    border: 1px solid gray;
    border-radius: 1em;
    width: 40em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 3px 10px rgba(0 0 0 / 0.5);
    animation: fadeIn 5s;
    margin: 5em;
    padding-left: 3em;
    padding-right: 3em;
}   
.image-post h1{
    font-size: 30px;
    font-weight: bold;
}
/*ändrar typsnittet på paragraferna i posterna till Times New Roman*/
.post-description {
    font-family: '', Times, serif;   
}
.post-title, .post-description{
    align-self: flex-start;
    position: relative;
    padding-top: 2em;
    padding-bottom: 2em;
}
.post-description{
    padding-bottom: 3em;
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateX(30px);
    }
    to{
        opacity: 2;
        transform: translateX(0px);
    }
}