#wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    width: 100%;
}

#header {
    width: 100%;
    height: 20em;
    background: url("images/header.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

#header h1{
    width: 50%;
    margin-left: 1em;
}

#posts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#post-image{
    position: absolute;
    width: 5em;
    height: 10em;
}

img{
    width: 50em;
}

#posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#post1, #post2{
    border: 1px solid black;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5em;
    border-radius: 5%;
}
