#wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#header{
    background-image: "/images/header.jpeg";
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;        
}