#wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

#middle-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#price-div{
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5em;
}

#fabric-div{
    flex-direction: column;
}

#size-div{
    display: flex;
    flex-direction: column;
}
#color-div{
    display: flex;
    flex-direction: row;
}
#part-of-shirt{
    width: 100%;
    height: 4em;
    border: 1px solid black;
    background-color:burlywood;
}
.fabric-chooser, .size-chooser{
    height: 4em;
    width: 5em;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fabric-chooser:hover, .size-chooser:hover, .color-chooser:hover, #right:hover, #left:hover{
    cursor: pointer;
    opacity: 0.5;
}
.color-chooser{
    border: 1px solid black;
    height: 5em;
    width: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#picture-of-shirt{
    /* background-image: url(images/t-shirt_for_project.jpg); */
    height: 20em;
    width: 20em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.actual-shirt-svg{
    display: flex;
    flex-wrap: wrap;
}
.part{
    fill: grey;
}

#part-of-shirt{
    display: flex;
    justify-content: center;
    align-items: center;
}
.part-of-shirt-menu {
    width: 6em;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em;
}
#selected-part-of-shirt-text-div{
    width: 15em;
}
#actual-shirt{
    width: 16em;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}
.actual-shirt-svg{
    position: relative;
    width: 100%;
    height: 100%;
}
.part-of-actual-shirt{
    width: 25%;
    height: 10em;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    background-color: grey;
}

