#wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background-color: rgb(228, 239, 247);
}

#middle-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}

#price-div{
    width: fit-content;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-family: verdana;
    background-color: white;
}

#fabric-div, #size-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

#color-div{
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
    justify-content: center;
}

#part-of-shirt{
    width: 100%;
    height: 4em;
    background-color:rgb(33, 48, 63);
}

.fabric-chooser, .size-chooser{
    font-family: Verdana;
    height: 4em;
    width: 7em;
    border: 2px solid grey;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fabric-chooser.selected, .size-chooser.selected {
    background-color: rgb(33, 48, 63);
    color: white;
}


.fabric-chooser:hover, .size-chooser:hover, .color-chooser:hover, #right:hover, #left:hover, .part:hover{
    cursor: pointer;
    opacity: 0.5;
}
.color-chooser{
    border: 2px solid lightgrey;
    height: 4em;
    width: 4em;
    border-radius: 50%;
}

.color-chooser.selected {
    outline: 2px solid grey;
    outline-offset: 2px;
}


#picture-of-shirt{
    /* background-image: url(images/t-shirt_for_project.jpg); */
    height: 20em;
    width: 20em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.actual-shirt-svg{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
}
.part{
    fill: grey;
}

#part-of-shirt{
    display: flex;
    justify-content: center;
    align-items: center;
}
.part-of-shirt-menu {
    width: 6em;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em;
}
#selected-part-of-shirt-text-div{
    width: 15em;
    color: white;
    font-family: Verdana;
}
#actual-shirt{
    width: 16em;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.part-of-actual-shirt{
    width: 25%;
    height: 10em;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    background-color: grey;
}

.arrow p {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 10%;
    color: white;
}
