body {
    margin: 0;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 69em;
    margin: auto;
    background-color: white;
    height: 62vh;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
}

.header {
    background-color: black;
    display: flex;
    justify-content: space-around;
    color: white;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
    display: flex;
    height: 7em; 
    width: 100%;
    justify-content: center;
    align-items: center;
    bottom: -2em;
}

.columns{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    background-color: blue;
    height: 100%;
}
.column{
    width: 23em;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 2em;
}

.column p{
    font-size:larger;
}