body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.wrapper{
    width: 45em;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    background-color:aliceblue;
}

.card{
    width: 12em;
    height: 18em;
    border: 1px solid black;
    border-radius: 1em;
    background-color: white;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 1em;
}
.card .background p{
    margin: 0;
    font-size: 56px;
    font-weight: 600;
}


.card .background{
    display: flex;
    align-self: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0em;
    background-color: grey;
}

.card.a, .card.b{
    box-sizing:border-box;
    padding: 1em;
}

.card.b .box{
    align-self : flex-end;
}

.box{
    display: flex;
    height: 2em;
    width: 2em;
    background-color: pink;
    align-items: center;   
    justify-content: center;

}

.card.a .box{
    align-self: flex-end;
}

.card .box.a{
    background-color: purple;
}


.fixed{
    position: fixed;
    width: 10em;
    height: 10em;
    place-items: center;
}
.bottom{
    bottom: 0em;
}
.left{
    left: 0em;
}
.right{
    right: 0em;
}