body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.wrapper{
    width: 45em;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    background-color:aliceblue;
}

.card{
    width: 12em;
    height: 18em;
    border: 1px solid black;
    border-radius: 1em;
    background-color: white;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 1em;
}

.card .background p{
    margin: 0;
    font-size: 56px;
    font-weight: 600;
}


.card .background{
    align-self: center;
    position:absolute;
    width: 100%;
    left: 0em;
    top: 40%;
    text-align: center;
}

.card.a, .card.b, .card.c{
    box-sizing:border-box;
    padding: 1em;
}

.card.b {
    flex-direction: column-reverse;
    justify-content: flex-start;
}

.card.b .box{
    align-self: flex-end;
}

.card.b .box.b{
    position: relative;
    left: 2em
}

.card.c .box{
    position: relative;
    left: -2em;
}

.card.c .box.b{
    background-color: orangered
}

.card.d{
    flex-direction: column;
    justify-content: space-around;
}


.card.e{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
}
.card.e .background{
    position: static;
    order: 2;
    flex: 1 0 100%;
}
.card.e .box.a{
    border-top-left-radius: inherit;
    order: 1;
}
.card.e .box.b{
    border-top-right-radius: inherit;
    order: 1;
    margin-left: auto;
}

.card.e .box.c{
    border-bottom-right-radius: inherit;
    order: 3;
    margin-left: auto;
}

.box{
    display: flex;
    height: 2em;
    width: 2em;
    background-color: pink;
    align-items: center;   
    justify-content: center;
}

.card.a .box{
    align-self: flex-end;
}

.card .box.a{
    background-color: purple;
}

.fixed{
    position: fixed;
    width: 10em;
    height: 10em;
    place-items: center;
}

.bottom{
    bottom: 0em;
}

.left{
    left: 0em;
}

.right{
    right: 0em;
}