body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: grey;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 17em;
    height: 17em;
    padding: 0.5em;
}

.image-div{
    background-image: url(images/image1.jpg);
    background-position: center;
    background-size: cover;
    width: inherit;
    height: inherit;
}



