body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gainsboro;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 17em;
    height: 17em;
    padding: 0.5em;
}

.image-div{
    background-image: url(images/image1.jpg);
    background-size: cover;
    background-position: center;
    width: inherit;
    height: inherit;
}

.arrow {
    font-size: 40px;
    color: gray;
    padding: 0.2em;
}

#leftButton {
    order: -1;
}