body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4em;
}
#boxes{
    border: 2px solid black;
    padding: 2em;
}
.actualBoxes{
    width: 5em;
    height: 5em;
    background-color: yellow;
}
#boxesDiv{
    display: flex;
    gap: 1em;
}